{% extends "base.html" %}

{% block title %}About Us{% endblock title %}

{% block content %}
    <header>
        <div class="container">
            <h1>About Us</h1>
        </div>
    </header>

    <section class="first-section-au">
        <div class="container">
            <p>
                The Quantum Computing Society of the Philippines is committed to nurturing a thriving quantum computing community, fostering innovation and excellence in research, education, and entrepreneurship, and positioning the Philippines as a leading hub for quantum computing expertise and innovation in the region.
            </p>

            <p>
                To achieve these goals, the Quantum Computing Society of the Philippines (QCSP) organizes regular events such as workshops, seminars, and conferences to facilitate knowledge exchange and collaboration among quantum computing enthusiasts, researchers, educators, and industry professionals. These events serve as platforms for sharing the latest developments in quantum computing research, exploring potential applications across various fields, and networking with like-minded individuals and organizations both locally and internationally. 
            </p>

            <p>
                Additionally, the QCSP works closely with academic institutions, government agencies, and industry partners to develop educational programs, promote quantum computing literacy, and support initiatives aimed at building a skilled workforce capable of driving innovation in this emerging field. By fostering a vibrant ecosystem of collaboration and learning, the QCSP is paving the way for the Philippines to become a key player in the global quantum computing landscape.
            </p>
        </div>
    </section>

    <section class="second-section-au">
        <div class="container-2">
            <div class="card1">
                <h2>Our Mission</h2>
                <p>to foster a vibrant quantum ecosystem in the country</p>
            </div>

            <div class="card1">
                <h2>Our Vission</h2>
                <p>to position the Philippines as a leading hub for quantum research, innovation, and application.</p>
            </div>
        </div>
    </section>
    
    <section class="third-section-au">
        <div class="container-2">
            <div class="title-and-pic">
                <h2>President of OneQuantum Philippines</h2>
                <img src="{{ url_for('static', filename='img/President.png') }}" alt="President">
                <p>Bobby Corpus Jr.</p>
            </div>

            <div>
                <p>
                    Sir Bobby Corpus is a highly experienced solution architect across Telecoms, Finance, and mission-cirtical enterprise systems
                </p>

                <p>
                    He is a community leader in open source software and developed a passion for quantum computing through interests in both Physics and Computer Sciecnce.
                </p>
            </div>
        </div>
    </section>

    <footer> 
        <div class="first-sec-footer">
            <img src="{{ url_for('static', filename='img/Logo 1.png') }}" alt="quantum computer">
            <p>© 2024 OneQuantum Philippines.</p>
        </div>

        <div>
            <h2>OneQuantum Philippines</h2>
            <p>Connect with us through:</p>
            <a href="https://www.facebook.com/onequantum.ph" target="_blank" rel="noopener">
                Facebook
            </a>
            <a href="https://www.facebook.com/onequantum.ph" target="_blank" rel="noopener">
                Twitter
            </a>
            <a href="https://www.linkedin.com/company/onequantum-ph/" target="_blank" rel="noopener">
                Linkedin
            </a>
        </div>
    </footer>
{% endblock %}