{% extends "base.html" %}

{% block title %}Contacts{% endblock title %}

{% block content %}
    <header>
        <h2>Contacts</h2>
        <div>  
            <p>Email: example@example.com</p>
            <p>Phone: (123) 456-7890</p>
            <p>Address: 123 Example St, Example City, EX 12345</p>
        </div>
      
    </header>

    <section class="first-section-con">
        <h3>Our Social Media Accounts</h3>

    </section>

    <section class="second-section-con">
        <h3>Our Locations</h3>
        <div>
            <h4>Manila</h4>
            <p>123 Example St, Example City, EX 12345</p>
            <img alt="img of place">
        </div>

        <div>
            <h4>Cebu</h4>
            <p>123 Example St, Example City, EX 12345</p>
            <img alt="img of place">
        </div>

    </section>

    <section class="third-section-con">
        <h3>Send us a message</h3>
        <form action="/submit_contact_form" method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="message">Message:</label><br>
            <textarea id="message" name="message"></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </section>




    <footer> 
        <div class="first-sec-footer">
            <img src="{{ url_for('static', filename='img/Logo 1.png') }}" alt="quantum computer">
            <p>© 2024 OneQuantum Philippines.</p>
        </div>

        <div>
            <h2>OneQuantum Philippines</h2>
            <p>Connect with us through:</p>
            <a href="https://www.facebook.com/onequantum.ph" target="_blank" rel="noopener">
                Facebook
            </a>
            <a href="https://www.facebook.com/onequantum.ph" target="_blank" rel="noopener">
                Twitter
            </a>
            <a href="https://www.linkedin.com/company/onequantum-ph/" target="_blank" rel="noopener">
                Linkedin
            </a>
        </div>
    </footer>
{% endblock %}